body {
  margin: 0.5em;
}

table, th, td {
  box-sizing: border-box;
}

abbr {
  cursor: help;
}

a, a:visited, a:active {
  color: blue;
}

.table-content * {
  font-size: 12px !important;
}

td > input {
  padding: 0;
  margin: 0;
  height: 12px;
  vertical-align: middle;
}

.p05 {
  padding: 0 5px !important;
}

.table-content table {
  border-collapse: collapse;
}

.table-content section:last-child,
.table-content table:last-child {
  margin-bottom: 0;
}

.table-content section {
  margin-bottom: 0.5em;
}

.table-content tr:hover > td {
  background: #eee transparent;
}

.table-content td,
.table-content th { 
  padding: 2px 5px; 
  border: 1px solid #ccc;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.table-content th {
  text-align: left;
  background: #eee;
  font-weight: bold;
  position: relative;
}
.table-content th.subheader {
  font-weight: normal;
}

.table-content tr.summary {
  border-top: 2px solid #ccc;
  font-weight: bold;
}

.table-content th small {
  font-weight: normal;
}

/* component */
.table-content table.component th.summary,
.table-content table.component td.summary {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 318px;
  width: 318px;
  white-space: nowrap;
}

/* epics */
.table-content table.epics th.summary,
.table-content table.epics td.summary,
/* stories */
.table-content table.stories th.summary,
.table-content table.stories td.summary,
/* backlog */
.table-content table.backlog th.summary,
.table-content table.backlog td.summary {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 331px;
    width: 331px;
    white-space: nowrap;
}

/* component */
.table-content table.component th.key,
.table-content table.component td.key,
.table-content table.component th.status,
.table-content table.component td.status,
/* epics */
.table-content table.epics th.key,
.table-content table.epics td.key,
.table-content table.epics th.status,
.table-content table.epics td.status,
/* stories */
.table-content table.stories th.key,
.table-content table.stories td.key,
.table-content table.stories th.status,
.table-content table.stories td.status,
/* backlog */
.table-content table.backlog th.key,
.table-content table.backlog td.key,
.table-content table.backlog th.status,
.table-content table.backlog td.status,
.table-content table.backlog th.components,
.table-content table.backlog td.components {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 140px;
  width: 140px;
  white-space: nowrap;
}

/* component */
.table-content table.component th.assignee,
.table-content table.component td.assignee,
.table-content table.component th.type,
.table-content table.component td.type,
/* backlog */
.table-content table.backlog th.assignee,
.table-content table.backlog td.assignee,
.table-content table.backlog th.type,
.table-content table.backlog td.type {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 70px;
  width: 70px;
  white-space: nowrap;
}

.table-content tr.highlighted,
.table-content tr.highlighted:hover {
  background-color: aqua;
}

.table-content tr.highlighted td.in-progress {
  background-color: rgba(255, 213, 128, 0.8);
}
.table-content tr.highlighted td.done {
  background-color: rgba(144, 238, 144, 0.8);
}

.table-content tr.highlighted-epic,
.table-content tr.highlighted-epic:hover {
  background-color: aqua;
}

.table-content tr.highlighted-story,
.table-content tr.highlighted-story:hover {
  background-color: aqua;
}

.table-content tr.highlighted td.in-progress {
  background-color: rgba(255, 213, 128, 0.8);
}
.table-content tr.highlighted td.done {
  background-color: rgba(144, 238, 144, 0.8);
}

.table-content th.hidden,
.table-content td.hidden,
.table-content tr.hidden,
.table-content tr.collapsed {
  display: none;
}

.table-content td.in-progress {
  background-color: #ffd580;
}

.table-content td.done {
  background-color: lightgreen;
}

.table-content .danger {
  color: red;
}
.table-content .warning {
  color: orange;
}
.table-content .success,
.table-content .released {
  color: green;
}
.table-content .nowrap {
  white-space: nowrap;
}

.table-content .scrollable {
  overflow-x: scroll;
  box-shadow: 0px 0px 10px 3px inset #ccc;
}

.table-content .h20 {
  height: 20px;
}
.table-content .h25 {
  height: 25px;
}
.table-content .h40 {
  height: 40px;
}
.table-content .h50 {
  height: 50px;
}
.table-content .h60 {
  height: 60px;
}
.table-content .h75 {
  height: 75px;
}
.table-content .p0 {
  padding: 0;
}

th > span.name {
  margin-right: 1em;
}

th > span.collapse {
  width: 1em;
  height: 1em;
  display: block;
  text-align: center;
  position: absolute;
  top: .4em;
  right: .2em;
}

th > span.collapse:hover {
  cursor: pointer;
}

th > span.collapse:after {
  content: "−";
}

th > span.collapse.up:after {
  content: "+";
}

.center {
  text-align: center !important; 
}

.tabs {
  margin-bottom: 0.5em;
}

.tab-header {
  display: inline-block;
  padding: 1em;
}

.tab-header.active {
  background: #ccc;
}

.tab-header > a {
  text-decoration: none;
  border-bottom: 1px dashed;
}

.tab-header.active > a {
  border-bottom: none;
  font-weight: bold;
}

.tab-content {
  display: none;
  padding: 12px;
  border: 1px solid #ccc;
}

.tab-content.active {
  display: block;
}


td.date,
td.numeric,
th.numeric {
  width: 70px;
  min-width: 70px;
  max-width: 70px;
}
td.date,
td.numeric {
  text-align: right;
}
th.numeric {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.combined {
  overflow: hidden;
}

.combined-left table {
  width: 100%;
  max-width: 752px;
}

.combined-left {
  width: 752px;
  float: left;
}

.combined-right {
  margin-left: 752px;
}

.tabs .combined-left {
  width: 740px;
}

.tabs .combined-left table {
  max-width: 740px;
}

.tabs .combined-right {
  margin-left: 740px;
}

table.project {
  width: 752px;
}

td.name {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 130px;
  max-width: 130px;
}

.versions td.name {
  width: 200px;
  max-width: 200px;
}
.versions td.name a.released {
  color: green;
}
