.table-content * {
  font-size: 12px !important;
}

body {
  margin: 0.5em;
}

td > input {
  padding: 0;
  margin: 0;
}

.table-content table {
  border-collapse: collapse;
  margin-bottom: 0.5em;
  width: 100%;
}

.table-content table:last-child {
  margin-bottom: 0;
}

.table-content section {
  margin-bottom: 0.5em;
}

.table-content section:last-child {
  margin-bottom: none;
}

.table-content tr:hover > td {
  background: #eee transparent;
}

.table-content td, .table-content th { 
  padding: .2em .5em; 
  border: 1px solid #ccc;
}

.table-content th {
  text-align: left;
  background: #eee;
  font-weight: bold;
  white-space: nowrap;
  position: relative;
}
.table-content th.subheader {
  font-weight: normal;
}

.table-content tr.summary {
  border-top: 2px solid #ccc;
  font-weight: bold;
}

.table-content th small {
  font-weight: normal;
}

.table-content table.component th.summary {
  width: auto;
}
.table-content table.component th.version {
  width: auto;
}
.table-content table.component th.status {
  width: 6%;
}
.table-content table.component th.key {
  width: 4%;
}
.table-content table.component th.hours {
  width: 2.5em;
}
.table-content table.component td.summary {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 25em;
    white-space: nowrap;
}
.table-content table.component td.type {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 4em;
  white-space: nowrap;
}
.table-content table.component td.link {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 8em;
  white-space: nowrap;
}
.table-content table.component td.status,
.table-content table.component td.assignee {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 5em;
  white-space: nowrap;
}

.table-content table.issues th.hours {
  width: 5em;
}

.table-content table.assignees th.hours {
  width: 5em;
}

.table-content table.versions th.hours {
  width: 4em;
}

.table-content table.epics th.hours {
  width: 5em;
}

.table-content table.project th.hours {
  width: 5em;
}

.table-content table.backlog {
  width: auto;
  max-width: 100%;
}
.table-content table.project {
  width: 640px;
  max-width: 100%;
}

.table-content tr.highlighted,
.table-content tr.highlighted:hover {
  background-color: aqua;
}

.table-content tr.highlighted td.in-progress {
  background-color: rgba(255, 213, 128, 0.8);
}
.table-content tr.highlighted td.done {
  background-color: rgba(144, 238, 144, 0.8);
}

.table-content tr.highlighted-epic,
.table-content tr.highlighted-epic:hover {
  background-color: aqua;
}

.table-content tr.highlighted-story,
.table-content tr.highlighted-story:hover {
  background-color: aqua;
}

.table-content tr.highlighted td.in-progress {
  background-color: rgba(255, 213, 128, 0.8);
}
.table-content tr.highlighted td.done {
  background-color: rgba(144, 238, 144, 0.8);
}

.table-content th.hidden,
.table-content td.hidden,
.table-content tr.hidden,
.table-content tr.collapsed {
  display: none;
}

.table-content td.in-progress {
  background-color: #ffd580;
}

.table-content td.done {
  background-color: lightgreen;
}

.table-content .danger {
  color: red;
}
.table-content .warning {
  color: orange;
}
.table-content .success {
  color: green;
}
.table-content .nowrap {
  white-space: nowrap;
}


.table-content .combined {
  overflow: hidden;
  width: 100%;
}
.table-content .combined > .combined-left {
  float: left;
  width: 640px;
}
.table-content .combined > .combined-right {
  margin-left: 640px;
}

.table-content .scrollable {
  overflow-x: scroll;
  box-shadow: 0px 0px 10px 3px inset #ccc;
}

.table-content .h20 {
  height: 20px;
}
.table-content .h40 {
  height: 40px;
}
.table-content .h60 {
  height: 60px;
}
.table-content .p0 {
  padding: 0;
}

.center {
  text-align: center;
}

span.collapse {
  width: 1em;
  height: 1em;
  display: block;
  text-align: center;
  position: absolute;
  top: .4em;
  right: .2em;
}

span.collapse:hover {
  cursor: pointer;
}

span.collapse:after {
  content: "−";
}

span.collapse.up:after {
  content: "+";
}
