<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <style>{% include "style.css" %}</style>
    <script type="module">
    {% include "script.js" %}
    window.initReports = init_reports;
    </script>
  </head>
  <body>
    <div class="table-content">
      {% for section in sections %}
      {{ section }}
      {% endfor %}
    </div>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        initReports();
      });
    </script>
  </body>
</html>