<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <style>{% include "style.css" %}</style>
    <script type="module">
    {% include "tables.js" %}
    window.initTables = initTables;
    </script>
  </head>
  <body>
    <div class="table-content">
      {% for section in sections %}
      {{ section }}
      {% endfor %}
    </div>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        initTables();
      });
    </script>
  </body>
</html>